@{
    ViewData["Title"] = "Sobre";
}

<h3>@ViewData["Message"]</h3>
<h4>Autor: @ViewData["Autor"]</h4>

<p>Este projeto foi desenvolvido durante o curso de Linguagem de Programação C#.</p>
<h4>As tecnologias utilizadas neste projeto foram:</h4>
<h4>No Back-End:</h4>
<p>Lingagem de progamação C#</p>
<p>Aplicação Asp .Net Core MVC</p>
<p>Banco de Dados MySql</p>
<p>Entity Framework para persistência e acesso a dados</p>
<h4>No Front-End:</h4>
<p>Bootstrap</p>
<!-- Página Razor -->