@{
    ViewData["Title"] = "Contato";
}

<h3>@ViewData["Message"]</h3>

<address>
   Everaldo Boscatto<br />
    Porto Belo-SC<br />
    <abbr title="Fone">Cel:</abbr>
    (47)99930-8574
</address>

<address>
    <strong>Support:</strong> <a href="mailto:e_boscatto@hotmail.com">e_boscatto@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:e_boscatto@hotmail.com">e_boscatto@hotmail.com</a>
</address>
